*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  width: 1200px;
  color: #fff;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  margin: auto;
  font-size: 18px;
  background-color: #1b1919;
  align-items: center;
  justify-content: center;
  block-size: 100%;
}

.content {
  display: flex;
  width: 1140px;
  gap: 30px;
  align-items: end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 26px;
  height: 534px;
}

.content__list-container {
  overflow: auto;
  height: 534px;
  min-width: 399px;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  min-width: 390px;
  gap: 30px;
  padding-top: 2px;
}

.content__list-item {
  min-width: 390px;
  padding-left: 3px;
  padding-right: 3px;
}

.content__list-item:last-child {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: right;
}
.content__video-card-description-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 6px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.title {
  font-family: Oswald, sans-serif, Arial, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-title {
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  font-family: Oswald, sans-serif, Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 100%;
  max-width: 196px;
}

.content__video-card-description {
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  max-width: 196px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
  margin-top: 3px;
}

.search-form__textfield {
  outline: none;
  border: none;
  width: 225px;
  height: 27px;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  color: #fff;
  background-color: #1b1919;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover:has(.search-form__checkbox) {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__submit-button {
  display: inline;
  align-self: end;
  width: 194px;
}

.more-button {
  width: 99.5%;
}

button {
  background-color: #1b1919;
  color: #fff;
  border: 1px solid #fff;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  height: 34px;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

button:active {
  background-color: rgba(84, 80, 80, 1);
}

button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
